<div class="design-mode">
  <p>The Smart Chart Widget allows you to create a graphical view using different types of charts.</p>

  <form name="designForm" ng-submit="save()" style="width:320px;" novalidate>
    <div class="form-group">
      <label class="control-label">Database Directory <i class="fa fa-asterisk mandatory-field"></i></label>
      <select class="form-control" 
              ng-model="dmo.directory_model" 
              ng-options="d.name for d in dmo.directories" 
              ng-change="loadMetadata()" required>
        <option value="">Choose...</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">X-Axis <i class="fa fa-asterisk mandatory-field"></i></label>
      <select class="form-control" 
              ng-model="dmo.xaxis_model" 
              ng-options="p.name for p in dmo.properties" required>
        <option value="">Choose...</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">Y-Axis <i class="fa fa-asterisk mandatory-field"></i></label>
      <select class="form-control" 
              ng-model="dmo.yaxis_model" 
              ng-options="p.name for p in dmo.properties" required>
        <option value="">Choose...</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">Chart Type <i class="fa fa-asterisk mandatory-field"></i></label>
      <select class="form-control" 
              ng-model="dmo.chart_model" 
              ng-options="c.name for c in dmo.charts" required>
        <option value="">Choose...</option>
      </select>
    </div>

    <div class="btn-toolbar" role="toolbar" style="margin-top:10px">
      <div class="pull-right">
        <button class="btn btn-primary" ng-click="preview()" ng-disabled="designForm.$invalid">
          <span class="fa fa-eye"></span> Run</button>
        <button type="submit" class="btn btn-primary" ng-disabled="designForm.$invalid">
          <span class="fa fa-check"></span> Save</button>
      </div>
    </div>
  </form>

  <div class="hcontainer"></div>
<!--
  <p>report.name: {{report.name}}</p>
  <p>attrs.charttype: {{widget.attrs.charttype}}</p>
  <p>dataModelOptions.directory: {{widget.dataModelOptions.directory}}</p>
  <p>dataModelOptions.xaxis: {{widget.dataModelOptions.xaxis}}</p>
  <p>dataModelOptions.yaxis: {{widget.dataModelOptions.yaxis}}</p>
  <p>dataModelOptions.chart: {{widget.dataModelOptions.chart}}</p>
-->
</div>
