<div class="view-mode">
  <p>The vied mode displays the results.</p>

  <div class="btn-toolbar" role="toolbar" style="margin-top:10px">
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="execute()">
        <span class="fa fa-eye"></span> Run</button>
    </div>
  </div>

  <div class="hcontainer"></div>

<!--
  <p>report.name: {{report.name}}</p>
  <p>attrs.charttype: {{widget.attrs.charttype}}</p>
  <p>dataModelOptions.directory: {{widget.dataModelOptions.directory}}</p>
  <p>dataModelOptions.xaxis: {{widget.dataModelOptions.xaxis}}</p>
  <p>dataModelOptions.yaxis: {{widget.dataModelOptions.yaxis}}</p>
  <p>dataModelOptions.chart: {{widget.dataModelOptions.chart}}</p>
-->
</div>
